<%- include("../partials/header")%>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Movies to Watch API</h1>
            <p>See the popular movies and the latest releases</p>
            <p>                
                <!-- <a class="btn btn-lg btn-success" href="">New campground</a>            -->
            </p>
        </div>
      
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Our Popular Movies</h3>
            <%movies.forEach(function(movie){%>
                <div class="col-md-3 col-sm-6">                    
                    <div class="thumbnail">
                        <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path %>">
                     </div> 
                     <div class="caption">
                        <h4><%=movie.title%></h4>
                     </div>
                    
                </div>                  
            <%})%> 
        </div>
    </div>



</div>


<%- include("../partials/footer")%>